[Desktop Entry]
Hidden=false
Name=dwt
Exec=dwt
TryExec=dwt
Icon=utilities-terminal
Comment=Use the command line
Type=Application
NoDisplay=false
StartupNotify=true
StartupWMClass=Dwt
Categories=GNOME;GTK;Utility;TerminalEmulator;
Terminal=false
Actions=New

[Desktop Action New]
Name=New Terminal
Exec=dwt
